<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>네트로닉스 홈페이지</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style(ar).css" />
    </head>
    <body>
        <header>
            <nav>
                <h1 class="title">
                    <a href="http://localhost:3000">네트로닉스</a>
                </h1>
                <div class="nav_but">
                    <a id="signup" class="hidden" href="http://localhost:3000/register">회원가입</a>
                    <a id="login" class="hidden" href="http://localhost:3000/login">로그인</a>
                    <a id="myPage" class="hidden custom-cursor" onclick="requestUserInfo()">마이페이지</a>
                    <a id="logout" class="hidden custom-cursor" onclick>로그아웃</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="name">
                <h1>NETRONICS</h1>
                <p>화이팅</p>
            </div>
        </main>
        <script src="js/index.js"></script>
    </body>
</html>
