<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>회원가입</title>
        <link rel="stylesheet" href="css.css" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="background">
            <div class="wrapper">
                <div class="title">
                    <div>네트로닉스 회원가입</div>
                </div>
                <div class="profile__input">
                    <input
                        oninput="is_valid()"
                        id="user_id"
                        class="input_text"
                        type="text"
                        placeholder="아이디를 입력해 주세요."
                    />
                    <input
                        oninput="is_valid()"
                        id="name"
                        class="input_text"
                        type="text"
                        placeholder="이름을 입력해 주세요."
                    />
                    <input
                        oninput="is_valid()"
                        id="pw1"
                        class="input_text"
                        type="password"
                        placeholder="비밀번호를 입력해 주세요."
                    />
                    <input
                        oninput="is_valid()"
                        id="pw2"
                        class="input_text"
                        type="password"
                        placeholder="비밀번호를 다시 입력해 주세요."
                    />
                </div>
                <hr />
                <button id="submit" <% if (!isValid) { %>disabled<% } %> >가입하기</button>
            </div>
        </div>

        <script>
            function is_id_valid(user_id) {
                //영상 보고 id fetch post 하면 success
                //id valid check 버튼 따로 만들기
            }
            ㄴ;
            function is_pw_valid() {
                //아려님
            }

            function on_id_error() {
                //
            }

            function on_pw_error() {
                //아려님
            }

            function on_valid() {
                //
            }

            function registerUser() {
                if (is_id_valid() && is_pw_valid()) {
                    on_valid();
                } else {
                    if (!is_id_valid()) {
                        on_id_error();
                    }
                    if (!is_pw_valid()) {
                        on_pw_error();
                    }
                }
            }

            document.getElementById("submit").addEventListener("click", registerUser);
        </script>
    </body>
</html>
