<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>회원가입</title>
        <link rel="stylesheet" href="stylesheets/signup.css" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="background">
            <div class="wrapper">
                <nav>
                    <h1 class="title">
                        <a href="http://localhost:3000">네트로닉스</a>
                    </h1>
                    <h1 class="subTitle">회원가입</h1>
                </nav>

                <div class="profile__input">
                    <div>
                        <b class="user">ID</b><br />
                        <input id="user_id" class="input_text" type="text" placeholder="아이디를 입력해 주세요." />
                        <button id="id_valid_check">아이디 중복 체크</button>
                        <p id="result_message" class="hidden"></p>
                    </div>
                    <div>
                        <b class="user">Name</b><br />
                        <input
                            id="name"
                            class="input_text"
                            type="text"
                            placeholder="이름을 입력해 주세요."
                        /><br /><br />
                    </div>
                    <div>
                        <b class="user">PW</b><br />
                        <input
                            id="pw1"
                            class="input_text"
                            type="password"
                            placeholder="비밀번호를 입력해 주세요."
                        /><br /><br />
                    </div>
                    <div>
                        <b class="user">PW 확인</b><br />
                        <input
                            id="pw2"
                            class="input_text"
                            type="password"
                            placeholder="비밀번호를 다시 입력해 주세요."
                        /><br /><br />
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <button id="submit">가입하기</button>

        <script src="js/signup.js"></script>
    </body>
</html>
