nav {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
    border-radius: 5px;
}

nav .title {
    font-size: 25px;
    color: white;
}

.name {
    font-size: 80%;
    position: relative;
}

.input_text {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
}
