nav {
    height: 70px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: black;
    border-radius: 5px;
}

nav .title {
    text-decoration: none;
    justify-content: space-between;
    font-size: 40px;
    letter-spacing: 0.1em;
}

nav a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

nav .subTitle {
    justify-content: center;
    padding-right: 170px;
    margin: auto;
    font-size: 25px;
    color: white;
    letter-spacing: 0.2em;
}

.name {
    font-size: 80%;
    position: relative;
}

.input_text {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

button {
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 14px;
    transition: 0.5s ease;
}

button:hover {
    transition: 0.5s ease;
    border: 2px sloid black;
    background: transparent;
    color: black;
}
